@model List<Player>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Monopoly!</h1>
</div>

<div style="position:relative; width:800px; height:800px;">
    <img src="~/images/MonopolyBoard.jpg" alt="Monopoly Board" style="width:800px; height:800px;" />
    <div id="player1" style="position:absolute; left:720px; top:720px; width:40px; height:40px; z-index:10;">
        <img src="~/images/PlayerToken1.png" style="width:100%;" />
    </div>
</div>

<button id="moveBtn">Move Player 1 Space</button>
<div style="margin-bottom: 20px;">
    <button id="rollDiceBtn">Roll Dice</button>
    <span id="diceResult" style="margin-left:15px; font-weight:bold;"></span>
    <span id="spaceResult" style="margin-left:15px; font-weight:bold;"></span>
</div>

<ul>
    @foreach (var player in Model)
    {
        <li>
            <strong>Player @player.Id:</strong> @player.Name (Turn: @player.TurnNumber)
        </li>
    }
</ul>

<script>
    window.playersData = [
        @foreach(Player p in Model)
        {
            <text>,
                {
                    id: @p.Id,
                    turnNumber: @p.TurnNumber,
                    name: "@p.Name",
                },
            </text>
            @if (p != Model.Last())
            {
                <text>,</text>
            }
        }
    ];
</script>
<script src="~/js/boardSpaces.js"></script>
<script src="~/js/playerMovement.js"></script>