@model List<MonopolyGame.Models.Player>;
@{
    ViewData["Title"] = "Home Page";
}

<div id="turnMessage" style="font-size: 1.5em; margin: 20px 0; color: darkblue;">Testing Message</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Monopoly!</h1>
</div>

<div style="position:relative; width:800px; height:800px;">
    <img src="~/images/MonopolyBoard.jpg" alt="Monopoly Board" style="width:800px; height:800px;" />
    <div id="player1" style="position:absolute; left:720px; top:720px; width:40px; height:40px; z-index:10;">
        <img src="~/images/PlayerToken1.png" style="width:100%;" />
    </div>
    <div id="player2" style="position:absolute; left:720px; top:720px; width:40px; height:40px; z-index:10;">
        <img src="~/images/PlayerToken2.png" style="width:100%;" />
    </div>
</div>

<div style="margin-bottom: 20px;">
    <button id="rollDiceBtn">Roll Dice</button>
    <span id="diceResult" style="margin-left:15px; font-weight:bold;"></span>
    <span id="spaceResult" style="margin-left:15px; font-weight:bold;"></span>
</div>

<ul>
    @foreach (var player in Model)
    {
        <li>
            <strong>Player @player.Id:</strong> @player.Name (Turn: @player.TurnNumber)
        </li>
    }
</ul>

<script>
    window.playersData = [
        @for (int i = 0; i < Model.Count; i++)
        {
            var p = Model[i];
            <text>
                { id: @p.Id, turnNumber: @p.TurnNumber, name: "@p.Name", position: "@p.Position" }
            </text>
            @if (i < Model.Count - 1)
                {
                    <text>,</text>
                }
            }
    ];

</script>
<script src="~/js/boardSpaces.js"></script>
<script src="~/js/playerMovement.js"></script>